<%= content_for(:title) do %>
  Trouvez un compost
<% end %>
<%  if @composts %>
  <ul style="list-style-type: none">
  <% @composts.each do |compost| %>
    <li> <% if compost.owner == "private" %>
        <%= image_tag 'user.png', class: "img-icon" %>
      <% else %>
        <%= image_tag 'compost.png', class: "img-icon" %>
        <% end %>
      <%= link_to compost.address, compost_path(compost) %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= link_to "Moi aussi je composte! :)", new_compost_path %>
